/* */
.nav-container {
  background: black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: beige;
  position: relative;
  z-index: 99;
}

/* Styling for logo */
.logo {
  font-weight: 600;
  font-size: 25px;
  color: rgb(250, 87, 87);
}

/* Spacing and alignment for navMenu items*/
.nav-menu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* CSS style of navbar links */
.nav-menu a {
  margin-left: 20px;
  padding: 5px 10px;
  text-decoration: none;
  font-size: medium;
  font-weight: 550;
  background-color: black;
  border-radius: 5px;
  color: rgb(250, 99, 99);
  cursor: pointer;
}

/* Changing background of navbar buttons on hover*/
.nav-menu a:hover {
  background-color: beige;
  border-radius: 5px;
  color: black;
  transition: all 0.5s ease-in-out;
}

/* Current link has its color changed */
.nav-menu a:focus {
  background-color: beige;
  color: black;
}

/* CSS style of logout in navbar */
.nav-logout {
  margin-left: 20px;
  padding: 5px 10px;
  text-decoration: none;
  font-size: medium;
  font-weight: 550;
  background-color: black;
  border-radius: 5px;
  color: rgb(250, 99, 99);
  cursor: pointer;
}

/* logout hover changes */
.nav-logout:hover {
  background-color: rgb(250, 99, 99);
  border-radius: 5px;
  color: black;
  transition: all 0.5s ease-in-out;
}
