.profile-container {
  width: 100%;
  height: 891px;
  display: flex;
  background: linear-gradient(180deg, rgb(15, 13, 22) 0%, rgb(8, 6, 19) 100%);
  
}

.profile-page-background {
  width: 35%;
  background: linear-gradient(180deg, rgb(15, 13, 22) 0%, rgb(8, 6, 19) 100%);
  
}

.profile-page-container {
  width: 90%;
  height: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 4.5%;
  border-radius: 10px;
  background-color: whitesmoke;
}

h1{
  text-align: center;
  color: black;
}

.profile-matches-background {
  width: 65%;
  background: linear-gradient(180deg, rgb(15, 13, 22) 0%, rgb(8, 6, 19) 100%);
}

.profile-matches-container {
  width: 90%;
  height: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5%;
  border-radius: 10px;
  background-color: whitesmoke;
}